[defaults]
inventory = ./inventory/aws_ec2.yml
host_key_checking = False
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ProxyCommand="ssh -W %h:%p -q ec2-user@<BASTION_PUBLIC_IP>"
Use code with caution.ansible/inventory/aws_ec2.ymlyamlplugin: amazon.aws.aws_ec2
regions:
  - us-east-1
filters:
  tag:Role: webapp
  instance-state-name: running
keyed_groups:
  - key: tags.Role
    prefix: role
hostnames:
  - private-ip-address
compose:
  ansible_host: private_ip_address
